<footer>
  <div class="row">
    <div class='column-half-footer left'>
      <a href="#" class="fa fa-facebook-official"></a>
      <a href="#" class="fa fa-pinterest-square"></a>
      <a href="#" class="fa fa-google-plus-square"></a>
      <a href="#" class="fa fa-twitter-square"></a>
    </div>
    <div class='column-half-footer right'>
      <span>
        Contact our Preschool
      </span>
      <span>
        /
      </span>
      <span>
        &copy; 2017 - Your Company Here
      </span>
    </div>
  </div>
</footer>
