<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Your Company's Name Here</title>
    <meta name="description" content="Write an awesome description for your new site here.">
    <meta name="keywords" content="angelwatch, angel watch, day care">
    <meta name="author" content="Joseph Ciervo">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="/feed.xml">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
